{% extends 'base.html' %}

{% block content %}
<div class='container mt-4'>
    <h3>About this project</h3>
    <p>The "Guess the Word" game you see here is my take on the classic hangman game, built entirely from scratch. It's a fun and interactive web experience that mixes HTML, CSS (Bootstrap), and JavaScript to create the frontend interface, making it easy and enjoyable to play. On the backend, Python (Flask) handles all the behind-the-scenes work, from managing game logic to handling user interactions. This project represents my first dive into developing a full-fledged application with both frontend and backend components, marking an exciting milestone in my coding journey.</p>
</div>
{% endblock %}